<app-table-layout
  *ngIf="!showForm"
  pageTitle="Quy trình phiếu chi"
>
  <ng-template appTemplate="menu">
    <p-tabMenu [model]="tabMenuList" [activeItem]="activeItem"></p-tabMenu>
  </ng-template>
  <ng-template appTemplate="action_left">
    <app-procedure-filter
      [filter]="filter"
      (filterChange)="onFilterChange($event)"
    ></app-procedure-filter>
  </ng-template>
  <ng-template appTemplate="content">
    <app-table
      [loading]="loading"
      [data]="data"
      [columns]="columns"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [totalRecords]="totalItem"
      (load)="onLoad($event)"
    >
      <ng-template appTemplate="action" let-item>
        <button
          *ngIf="currentStatus == orderStatus.Pending"
          pButton class="p-button-success" icon="pi pi-angle-double-right" (click)="onAccept(item)"></button>
        <button
          *ngIf="currentStatus == orderStatus.Pending"
          pButton class="p-button-success" icon="pi pi-angle-double-left" (click)="onNotAccept(item.id)"></button>
        <button pButton class="p-button-danger" icon="pi pi-trash" (click)="onDelete(item.id)"></button>
        <button pButton class="p-button-info" icon="pi pi pi-download" (click)="onPrint(item)"></button>
      </ng-template>
    </app-table>
  </ng-template>
</app-table-layout>
<ng-template #uploadImage let-row>
  <div class="w-full">
    <app-multiple-upload
      [fileLink]="row.files"
      [showUploadBtn]="!row?.files || !row?.files?.length || row?.files?.length === 0"
      [minimal]="true"
      [hideLabel]="true"
      [removable]="false"
      (attackFiles)="onAttackFiles(row, $event)"
    ></app-multiple-upload>
  </div>
</ng-template>
<ng-template #quantity let-row>
  <div class="w-full">
    <div>{{ row.totalQuantity | number }}</div>
    <div class="mt-3 font-bold">{{ row.totalAmount | number }}</div>
  </div>
</ng-template>
<app-import-process-form
  *ngIf="showForm"
  [(isDisplay)]="showForm"
  [item]="selectedItem"
>
</app-import-process-form>