td {
  padding: 5px !important;
}

.row-group-total td {
  font-weight: bold;
}

.header-row th {
  text-align: center;
}

.text-center {
  text-align: center;
}

:host ::ng-deep .custom-chip {
  background: var(--blue-500);
  color: var(--primary-color-text);
  font-weight: bold;
}