.card {
  padding: 0 !important;
}

:host ::ng-deep {
  .p-scroller {
    min-width: 700px !important;
    padding: 0 !important;
    .p-autocomplete-item {
      height: 35px !important;
      line-height: 35px !important;
    }
  }
}