:host ::ng-deep .p-inputtext {
  width: 100%;
  padding: 1rem;
}

:host ::ng-deep .pi-eye {
  transform: scale(1.6);
  cursor: pointer;
  color: var(--primary-color) !important;
}

:host ::ng-deep .pi-eye-slash {
  transform: scale(1.6);
  cursor: pointer;
  color: var(--primary-color) !important;
}

:host ::ng-deep .p-dropdown {
  width: auto !important;
}