<div *ngIf="!showForm" class="px-2 py-3">
  <h5>Kế hoạch dự chi</h5>
  <p-tabMenu [model]="tabMenuItems" [activeItem]="activeItem"></p-tabMenu>
  <app-procedure-filter
    [filter]="filter"
    (filterChange)="onFilterChange($event)"
  ></app-procedure-filter>
  <app-table
    [loading]="loading"
    [data]="data"
    [columns]="columns"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [totalRecords]="totalItem"
    (load)="onLoad($event)"
  >
    <ng-template appTemplate="action" let-item>
      <button *ngIf="currentStatus == orderStatus.Pending" pButton class="p-button-success"
              icon="pi pi-angle-double-right" (click)="onAccept(item.id)"></button>
      <button pButton
              icon="pi pi-search-plus" (click)="onDetail(item)"></button>
      <button *ngIf="currentStatus == orderStatus.Pending && item.shoulNotAccept" pButton class="p-button-success"
              icon="pi pi-angle-double-left" (click)="onNotAccept(item.id)"></button>
      <button *ngIf="currentStatus == orderStatus.Pending && item.shoulDelete" pButton class="p-button-danger"
              icon="pi pi-trash" (click)="onDelete(item.id)"></button>
      <button *ngIf="item.isFinished" pButton class="p-button-info"
              icon="pi pi-download" (click)="onExport(item.id)"></button>
    </ng-template>
  </app-table>
</div>
<app-ex-plan-form
  *ngIf="showForm"
  [(visible)]="showForm"
  [userList]="userList"
  [item]="selectedItem"
></app-ex-plan-form>