<div *ngIf="!display" class="px-2 py-3">
  <h5 [translate]="'label.change_shift'"></h5>
  <p-table #dt1 [value]="listRequest" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
           styleClass="p-datatable-gridlines sidebar-custom" [paginator]="true"
           [responsiveLayout]="isMobile ? 'stack' : 'scroll'" [totalRecords]="totalRecords"
           [rowsPerPageOptions]="[5, 10, 25, 50]" [showCurrentPageReport]="true" [lazy]="true"
           (onLazyLoad)="getRequests($event)" scrollDirection="both" [scrollable]="!isMobile"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(first)]="first">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-start md:justify-content-between flex-column md:flex-row">
        <span class="p-input-icon-left mb-2">
          <i class="pi pi-search"></i>
          <input #filter [(ngModel)]="getParams.searchText" pInputText type="text" (keypress)="onSearch($event)"
                 [placeholder]="'label.search' | translate" class="w-full" />
        </span>
        <div class="flex justify-content-between md:justify-content-end mt-2 md:mt-0">
          <!-- add button -->
          <button *appHasAccess="{
              menu: appConstant.MENU_TYPE.OVERTIME,
              action: appConstant.PERMISSION_FUNC.ADD
            }" pButton [label]="'button.addF7' | translate" class="mb-2" icon="pi pi-plus"
                  (click)="isEdit = false; showDialog()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="w-1 justify-content-center">
          <div class="flex align-items-center">
            <span [translate]="'label.numerical_order'"></span>
          </div>
        </th>
        <th class="w-2">
          <div class="flex justify-content-between align-items-center">
            <span [translate]="'label.from_employee'"></span>
          </div>
        </th>
        <th class="w-2">
          <div class="flex justify-content-between align-items-center">
            <span [translate]="'label.to_employee'"></span>
          </div>
        </th>
        <th class="w-2">
          <div class="flex align-items-center">
            <span [translate]="'label.from_at'"></span>
          </div>
        </th>
        <th class="w-2">
          <div class="flex align-items-center">
            <span [translate]="'label.to_at'"></span>
          </div>
        </th>
        <th class="w-1 justify-content-center">
          <div class="flex align-items-center">
            <span [translate]="'label.status'"></span>
          </div>
        </th>
        <th class="w-1 justify-content-center">
          <div class="flex align-items-center">
            <span [translate]="'label.time_end'"></span>
          </div>
        </th>
        <th class="w-2" *ngIf="isMobile"></th>
        <th class="w-2" *ngIf="!isMobile" alignFrozen="right" pFrozenColumn [frozen]="true"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td class="w-1 px-3 justify-content-center">
          <span class="p-column-title" [translate]="'label.numerical_order'"></span>{{ request.id }}
        </td>
        <td class="w-2 px-3">
          <span class="p-column-title" [translate]="'label.from_employee'"></span>{{
            request.fromUserId | name:
              employees : "fullName"
          }}
        </td>
        <td class="w-2 px-3">
          <span class="p-column-title" [translate]="'label.to_employee'"></span>{{
            request.toUserId | name: employees :
              "fullName"
          }}
        </td>
        <td class="w-2 px-3">
          <span class="p-column-title" [translate]="'label.from_at'"></span>{{ request.fromAt | date: "dd/MM/yyyy" }}
        </td>
        <td class="w-2 px-3">
          <span class="p-column-title" [translate]="'label.to_at'"></span>{{ request.toAt | date: "dd/MM/yyyy" }}
        </td>
        <td class="w-1 px-3">
          <span class="p-column-title" [translate]="'label.status'"></span>{{ request.procedureStatusName }}
        </td>
        <td class="w-1 px-3 justify-content-center">
          <span class="p-column-title" [translate]="'label.time_end'"></span>
          <p-checkbox class="mt-1" disabled [(ngModel)]="request.isFinish" [binary]="true" inputId="binary">
          </p-checkbox>
        </td>
        <td class="w-2" *ngIf="isMobile">
          <button *appHasAccess="{
              menu: appConstant.MENU_TYPE.OVERTIME,
              action: appConstant.PERMISSION_FUNC.EDIT
            }" pButton class="p-button-warning" icon="pi pi-pencil" (click)="getDetail(request.id)"></button>
          <button *appHasAccess="{
              menu: appConstant.MENU_TYPE.OVERTIME,
              action: appConstant.PERMISSION_FUNC.DELETE
            }" pButton class="p-button-danger" icon="pi pi-trash" (click)="onDelete(request.id)"></button>
        </td>
        <td *ngIf="!isMobile" alignFrozen="right" pFrozenColumn [frozen]="true"
            class="w-2 flex justify-content-start md:justify-content-center">
          <button *appHasAccess="{
              menu: appConstant.MENU_TYPE.OVERTIME,
              action: appConstant.PERMISSION_FUNC.EDIT
            }" pButton class="p-button-warning" icon="pi pi-pencil" (click)="getDetail(request.id)"></button>
          <button *appHasAccess="{
              menu: appConstant.MENU_TYPE.OVERTIME,
              action: appConstant.PERMISSION_FUNC.DELETE
            }" pButton class="p-button-danger" icon="pi pi-trash" (click)="onDelete(request.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="w-full pt-4 pb-4">No Symbol found.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td class="w-full pt-4 pb-4">Loading Symbol data. Please wait.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-procedure-change-shift-form #procedureChangeShiftForm [formData]="formData" [isReset]="isReset" [display]="display"
                                 (onCancel)="display = false; isReset = false" [isEdit]="isEdit"
                                 [procedureNumber]="procedureNumber"
                                 [employees]="employees"></app-procedure-change-shift-form>