<div *ngIf="display != true" class="px-2 py-3">
  <h5 [translate]="'label.production_order'"></h5>
  <p-tabMenu [model]="tabMenuItems" [activeItem]="activeItem"></p-tabMenu>
  <p-table [value]="producesTemp" [loading]="loading" [rowHover]="true" [rows]="20"
    styleClass="p-datatable-gridlines sidebar-custom" [paginator]="true"
    [responsiveLayout]="isMobile ? 'stack' : 'scroll'" [totalRecords]="totalRecords" [rowsPerPageOptions]="[20, 50]"
    [showCurrentPageReport]="true" [lazy]="true" scrollDirection="both" [scrollable]="!isMobile"
    currentPageReportTemplate="" [(first)]="first" (onLazyLoad)="getOrder($event)">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-start md:justify-content-between flex-column md:flex-row">
        <div class="p-input-icon-left mb-2 grid">
          <div class="col-6 md:col-3">
            <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [(ngModel)]="startDate" dateFormat="dd-mm-yy"
              class="mr-3" [placeholder]="'Ngày bắt đầu'" (onSelect)="getOrder()"></p-calendar>
          </div>
          <div class="col-6 md:col-3">
            <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [(ngModel)]="endDate" dateFormat="dd-mm-yy"
              class="mr-3" [placeholder]="'Ngày kết thúc'" (onSelect)="getOrder()"></p-calendar>
          </div>
          <div class="col-12 md:col-3">
            <input #filter [(ngModel)]="getParams.searchText" pInputText type="text" (keypress)="getOrder()"
              class="w-full" [placeholder]="'label.search' | translate" />
          </div>
          <div class="col-12 md:col-3">
            <p-dropdown styleClass="w-full" [options]="userList" [(ngModel)]="getParams.userId" [showClear]="true"
              (ngModelChange)="getOrder()" placeholder="Nhân viên" optionLabel="fullName" optionValue="id"></p-dropdown>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">
          <span [translate]="'label.code_orders'"></span>
        </th>
        <th style="width: 10%">
          <span [translate]="'label.status'"></span>
        </th>
        <th style="width: 25%">
          <span [translate]="'label.name'"></span>
        </th>
        <th style="width: 10%">
          <span [translate]="'label.stock_quantity'"></span>
        </th>
        <th style="width: 20%">
          <span>Ghi chú hủy lệnh</span>
        </th>
        <th style="width: 15%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="width: 20%" class="px-3">
          {{ item.procedureNumber }}
        </td>
        <td style="width: 10%" class="px-3">
          {{ item.procedureStatusName }}
        </td>
        <td style="width: 25%" class="px-3">
          <input pInputText class="w-full" [(ngModel)]="item.note" (change)="onSaveChangeNote(item)">
        </td>
        <td style="width: 10%" class="justify-content-end px-3">
          {{ item.quantity | number }}
        </td>
        <td style="width: 20%" class="px-3">
          <span *ngIf="!item.isFinished">{{ item.canceledNote }}</span>
          <input *ngIf="item.isFinished" pInputText class="w-full" [(ngModel)]="item.canceledNote" (change)="onSaveChangeCanceledNote(item)">
        </td>
        <td style="width: 15%" class="action flex align-items-center justify-content-center md:justify-content-end">
          <button *ngIf="currentStatus == OrderStatus.Pending" pButton class="p-button-success"
            icon="pi pi-angle-double-right" (click)="accept(item.id)"></button>

          <button pButton icon="pi pi-search-plus" (click)="onDetailProduce(item)"></button>

          <button *ngIf="currentStatus == OrderStatus.Pending && item.shoulNotAccept" pButton class="p-button-success"
            icon="pi pi-angle-double-left" (click)="notAccept(item.id)"></button>

          <button *ngIf="currentStatus == OrderStatus.Pending" pButton class="p-button-danger" icon="pi pi-trash"
            (click)="delete(item.id)"></button>
          <button pButton icon="pi pi-download" class="p-button-success" (click)="export(item.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="w-full pt-4 pb-4">No General website order new found.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td class="w-full pt-4 pb-4">
          Loading website order new data. Please wait.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-produce-order-form *ngIf="display" [currentTab]="currentStatus" (onFormClosing)="display = false"
  [display]="display" [detail]="orderDetail">
</app-produce-order-form>