<div>
  <p-button
    *ngIf="showUploadBtn"
    icon="pi pi-upload"
    (click)="uploadFile.click()"
    [disabled]="disabledUpload"
    [label]="!hideLabel && label | translate"
  ></p-button>
  <input
    #uploadFile
    class="hidden"
    type="file"
    (change)="onAttachFile($event)"
    multiple
  />
</div>
<div class="flex {{minimal ? 'gap-2':'gap-5'}} pt-3" *ngIf="fileLink && fileLink.length !== 0">
  <div *ngFor="let item of fileLink" class="flex align-items-start {{minimal ? 'gap-1':'gap-3'}}">
    <img
      *ngIf="isImageExtension(item.fileUrl); else file"
      id="{{ item.fileName }}"
      src="{{ serverImg + item.fileUrl }}"
      alt="image" height="{{ minimal ? 30 : 100}}"
      class="cursor-pointer"
      (click)="onViewImage(item)"
    />
    <ng-template #file>
      <a
        href="{{ serverImg + item.fileUrl }}"
        target="_blank"
        class="cursor-pointer"
        title="{{ item.fileName }}"
      >
        <i class="pi pi-file"></i> {{ item.fileName }}
      </a>
    </ng-template>
    <i *ngIf="removable" class="pi pi-times cursor-pointer text-orange" (click)="onRemoveImage(item.fileName)"></i>
  </div>
</div>
<p-dialog
  [(visible)]="showImageDetail"
  [modal]="true"
  [showHeader]="false"
  [dismissableMask]="true"
  [style]="{width: '50vw'}"
>
  <img [src]="serverImg + selectedImage?.fileUrl" class="w-full">
</p-dialog>