:host ::ng-deep .p-frozen-column {
  font-weight: bold;
}

:host ::ng-deep .p-datatable-frozen-tbody {
  font-weight: bold;
}

:host ::ng-deep .p-progressbar {
  height: 0.5rem;
}

.w-5rem {
  width: 5rem !important;
}

.w-15rem {
  width: 15rem !important;
}

.w-20rem {
  width: 20rem !important;
}

.w-10rem {
  width: 10rem !important;
}