<div xmlns="http://www.w3.org/1999/html" class="px-2 py-3">
    <h5>Báo cáo xe</h5>
    <p-table #dt1 [value]="dataList" [columns]="cols" dataKey="id" [loading]="loading"
        styleClass="p-datatable-gridlines sidebar-custom" [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
        scrollDirection="both" [scrollable]="!isMobile" [resizableColumns]="true" [autoLayout]="true"
        rowGroupMode="subheader">
        <ng-template pTemplate="caption">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-2">
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="startDate" dateFormat="dd-mm-yy"
                        [placeholder]="'Ngày bắt đầu'" (onSelect)="getReport()"></p-calendar>
                </div>
                <div class="field col-12 md:col-2">
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="endDate" dateFormat="dd-mm-yy"
                        [placeholder]="'Ngày kết thúc'" (onSelect)="getReport()"></p-calendar>
                </div>

                <div class="col-12 md:col-2">
                    <p-dropdown [options]="cars" [ngModelOptions]="{ standalone: true }" [optionLabel]="'licensePlates'"
                        [filter]="true" filterBy="licensePlates" [(ngModel)]="getParams.carId" [optionValue]="'id'"
                        [placeholder]="'label.select_license_plate' | translate" (onChange)="getReport()">
                    </p-dropdown>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th [style]="col.width" class="justify-content-center">
                        {{ col.header }}
                    </th>
                </ng-container>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-columns let-rowData let-index="rowIndex">
            <tr>
                <td class="pt-2 pb-2" style="width:10%; justify-content:center;">
                    {{ rowData.date | utcDate }}
                </td>
                <td class="pt-2 pb-2" style="width:7%; justify-content:center;">
                    {{ rowData.month | number }}
                </td>
                <td class="pt-2 pb-2" style="width:25%; justify-content:start;">
                    {{ rowData.explainNote }}
                </td>
                <td class="pt-2 pb-2" style="width:11%; justify-content:end;">
                    {{ rowData.advanceAmount | number }}
                </td>
                <td class="pt-2 pb-2" style="width:10%; justify-content:center;">
                    {{ rowData.dateTo | utcDate }}
                </td>
                <td class="pt-2 pb-2" style="width:10%; justify-content:end;">
                    {{ rowData.expenseAmount | number }}
                </td>
                <td class="pt-2 pb-2" style="width:10%; justify-content:end;">
                    {{ rowData.remainingAmount | number }}
                </td>
                <td class="pt-2 pb-2" style="width:10%; justify-content:end;">
                    {{ rowData.remainingAmount | number }}
                </td>
                <td class="pt-2 pb-2" style="width:7%; justify-content:center;">
                    <button pButton class="p-button-warning" icon="pi pi-image" (click)="onShowImage(rowData)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" class="w-full pt-4 pb-4">Không tìm thấy dữ liệu.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-image-dialog *ngIf="showImage" [(visible)]="showImage" [fileList]="fileList"></app-image-dialog>