<div *ngIf="!isDetailVisible" class="px-2 py-3">
  <h5 [translate]="'label.requesting_payment_pass_list'"></h5>
  <app-tab-menu [tabItems]="tabMenus" [(ngModel)]="filterParams.statusTab" (onTabChange)="loadData()"></app-tab-menu>
  <app-procedure-filter
    [filter]="filterParams"
    (filterChange)="onFilterChange($event)"
  ></app-procedure-filter>
  <app-data-table
    [(filterParams)]="filterParams"
    [columns]="columns"
    [headerActions]="headerActions"
    [dataSource]="dataSource"
    (onLoad)="loadData()"
    [showSearch]="false"
    [paginator]="paginator"
  ></app-data-table>
  <div class="mt-3" *ngIf="filterParams.statusTab.toString() == PaymentPassStatus.Done.toString()">
    <button
      pButton
      label="Tạo kế hoạch dự chi"
      icon="pi pi-plus"
      (click)="onCreateExpenditurePlan()"
    ></button>
  </div>
</div>
<ng-template #codeCol let-row>
  <div>
    <div class="mb-2">{{ row.userName }}</div>
    <div>{{ row.procedureNumber }}</div>
  </div>
</ng-template>
<app-requesting-payment-form
  #detailFormComponent
  [(visible)]="isDetailVisible"
  (onFormClosing)="onFormClosing($event)"
></app-requesting-payment-form>
<app-expenditure-plan-form
  *ngIf="showExpenditureForm"
  [type]="'payment_proposal'"
  [(visible)]="showExpenditureForm"
  [selectedIds]="selectedIds"
></app-expenditure-plan-form>
<app-image-dialog
  *ngIf="showImage"
  [(visible)]="showImage"
  [fileList]="fileList"
></app-image-dialog>