<div *ngIf="!display" class="px-2 py-3">
  <h5 [translate]="'label.managing_stationery_export'"></h5>
  <p-table
    #dt1
    [value]="listStationeries"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [rowHover]="true"
    styleClass="p-datatable-gridlines sidebar-custom"
    [paginator]="true"
    [responsiveLayout]="isMobile ? 'stack' : 'scroll'"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [showCurrentPageReport]="true"
    [lazy]="true"
    (onLazyLoad)="onGetStationeryExport($event)"
    scrollDirection="both"
    [scrollable]="!isMobile"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [(first)]="first"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex justify-content-start md:justify-content-between flex-column md:flex-row"
      >
        <span class="p-input-icon-left mb-2">
          <i class="pi pi-search"></i>
          <input
            #filter
            [(ngModel)]="getParams.searchText"
            pInputText
            type="text"
            (keypress)="onSearch($event)"
            [placeholder]="'label.search' | translate"
            class="w-full"
          />
        </span>
        <div
          class="flex justify-content-between md:justify-content-end mt-2 md:mt-0"
        >
          <button
            *appHasAccess="{
              menu: appConstant.MENU_TYPE.QUANLYXUATVANPHONGPHAM,
              action: appConstant.PERMISSION_FUNC.ADD
            }"
            pButton
            [label]="'button.addF7' | translate"
            class="mb-2"
            icon="pi pi-plus"
            (click)="onAdd()"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="w-1">
          <div class="flex align-items-center">STT</div>
        </th>
        <th class="w-1">
          <div class="flex align-items-center">
            <span [translate]="'label.date'"></span>
          </div>
        </th>
        <th class="w-3">
          <div class="flex justify-content-between align-items-center">
            <span [translate]="'label.department'"></span>
          </div>
        </th>
        <th class="w-2">
          <div class="flex justify-content-between align-items-center">
            <span [translate]="'label.user'"></span>
          </div>
        </th>
        <th class="w-4">
          <div class="flex justify-content-between align-items-center">
            <span [translate]="'label.code_vpp'"></span>
          </div>
        </th>
        <th *ngIf="isMobile" class="w-3"></th>
        <th
          *ngIf="!isMobile"
          class="w-1"
          alignFrozen="right"
          pFrozenColumn
          [frozen]="true"
        ></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-station>
      <tr>
        <td class="w-1">
          <span class="p-column-title" [translate]="'label.stt'"></span
          >{{ station.procedureNumber }}
        </td>
        <td class="w-1">
          <span class="p-column-title" [translate]="'label.date'"></span
          >{{ station.date | date: "dd/MM/yyyy" }}
        </td>
        <td class="w-3">
          <span class="p-column-title" [translate]="'label.department'"></span
          >{{ station.departmentId | name: listDepartment : "name" }}
        </td>
        <td class="w-2">
          <span class="p-column-title" [translate]="'label.user'"></span
          >{{ station.userId | name: listUser : "fullName" }}
        </td>
        <td class="w-4">
          <span class="p-column-title" [translate]="'label.code_vpp'"></span>
        </td>
        <td *ngIf="isMobile" class="w-1">
          <button
            *appHasAccess="{
              menu: appConstant.MENU_TYPE.QUANLYXUATVANPHONGPHAM,
              action: appConstant.PERMISSION_FUNC.EDIT
            }"
            pButton
            class="p-button-warning"
            icon="pi pi-pencil"
            (click)="getDetail(station.id)"
          ></button>
          <button
            *appHasAccess="{
              menu: appConstant.MENU_TYPE.QUANLYXUATVANPHONGPHAM,
              action: appConstant.PERMISSION_FUNC.DELETE
            }"
            pButton
            class="p-button-danger"
            icon="pi pi-trash"
            (click)="onDelete(station.id)"
          ></button>
        </td>
        <td
          *ngIf="!isMobile"
          alignFrozen="right"
          pFrozenColumn
          [frozen]="true"
          class="w-1 flex justify-content-start md:justify-content-center"
        >
          <button
            *appHasAccess="{
              menu: appConstant.MENU_TYPE.QUANLYXUATVANPHONGPHAM,
              action: appConstant.PERMISSION_FUNC.EDIT
            }"
            pButton
            class="p-button-warning"
            icon="pi pi-pencil"
            (click)="getDetail(station.id)"
          ></button>
          <button
            *appHasAccess="{
              menu: appConstant.MENU_TYPE.QUANLYXUATVANPHONGPHAM,
              action: appConstant.PERMISSION_FUNC.DELETE
            }"
            pButton
            class="p-button-danger"
            icon="pi pi-trash"
            (click)="onDelete(station.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="w-full pt-4 pb-4">No Branch found.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td class="w-full pt-4 pb-4">Loading Branch data. Please wait.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-stationary-export-form
  #stationeryExportFrom
  [formData]="formData"
  [display]="display"
  [listAllStationer]="listAllStationer"
  (onCancel)="display = false; isReset = false"
  [isEdit]="isEdit"
>
</app-stationary-export-form>
