:host ::ng-deep {
  .p-datatable-tbody {
    padding-bottom: 12rem;
  }

  .field {
    padding-top: unset;
    padding-bottom: unset;
  }

  .ng-dirty .ng-invalid {
    border: 1.5px solid red !important;
  }

  .p-scroller {
    min-width: 700px !important;
    padding: 0 !important;

    .p-autocomplete-item {
      height: 35px !important;
      line-height: 35px !important;
    }
  }

  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    min-height: 39px;
  }

  .p-dropdown {
    min-height: 39px;
  }

  .p-inputgroup-addon:first-child,
  .p-inputgroup button:first-child,
  .p-inputgroup input:first-child,
  .p-inputgroup > .p-inputwrapper:first-child > .p-component,
  .p-inputgroup > .p-inputwrapper:first-child > .p-component > .p-inputtext {
    height: 40px !important;
  }
}

.w-15-pct {
  width: 15%;
}

.w-22_5-pct {
  width: 22.5%;
}

.group-input {
  display: flex;
}

::ng-deep:root {
  .p-autocomplete-item {
    height: 40px !important;
  }
}